
@media {
    .row-fluid [class*="span"] {
        float: left;
        width: 100%;
        min-height: 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@media {
    .row-fluid .span6 {
        width: 50%;
        margin-left: 0;
    }
}

@media {
    .row-fluid [class*="span"]:first-child {
        margin-left: 0;
    }
}



@media {
    .row-fluid {
        width: 100%;
    }
}

#computationArea {
    overflow: auto;
}

h3 {
    text-align: center;
    margin-top: 8%;
}


.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}

td.empty {
    border-style: solid;
    border-width: 0px;
    border-color: blue;
}


.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
    min-width: 145px;
}

.table.cl td {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.mb-3, .my-3 {
    margin-bottom: 0 !important;
}

.close {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    float: none;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.span6 {
    margin-bottom: 100px;
}

span {
    Display: inline-block;
    white-space: nowrap;
}

h3 {
    margin-top: 3%;
    margin-bottom: 2%;
}
